body {
  width: 99%;
  height: 900px;
  background-color: lightsalmon;
}

h1 {
  color: white;
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
}

#top {
  margin-top: 30px;
}

.task {
  border-color: black;
  border-style: solid;
  border-width: 3px;
}

#button-size {
  padding-bottom: 20px;
}

.enter_section {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#enter_text {
  margin: auto;
  font-size: 20px;
  width: 250px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
 
}

#letter-box{
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
}


#text-enter-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media (min-width: 1200px) {
  .container {
    width: 990px;
  }
}

@media (min-width: 995px) {
  .container {
    width: 990px;
  }
}